/* GLOBAL */
.App {
    background: #141414;
    color: #fff;
   padding-top: 80px;
}

/* HEADER FULL BAR */
.film-header {
  background: #1b1b1b;
  border-bottom: 2px solid #ffcc00;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  z-index: 2000;
}

/* INNER LEFT: Logo + Title */
.header-container {
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.app-logo {
  width: 55px;
  height: 55px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(255, 204, 0, 0.4);
}

.app-title {
  font-size: 1.7rem;
  font-weight: 700;
  color: #ffcc00;
  letter-spacing: 1px;
  margin: 0;
}

/* Larger inputs */
.header-search input {
  height: 48px !important;
  width: 300px;
  font-size: 17px;
  border-radius: 10px;
}


/* ============= DEFAULT GRID ============= */
.default-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 15px;
  padding: 20px 10px;
}

/* Default movie poster sizing */
.default-card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
}

/* Default cards have no hover zoom */
.default-card img:hover {
  transform: none;
  cursor: pointer;
}

/* ============= NORMAL FILM GRID ============= */
.film-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.movie-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.movie-poster {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: 0.3s ease;
}

/* Hover effect only for normal movies */
.film-grid .movie-card:hover .movie-poster {
  transform: scale(1.05);
}

/* BUTTON BAR UNDER POSTER */
.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.75);
    padding: 8px;
    display: flex;
   justify-content: space-evenly;
    align-items: center;
}

.action-btn {
    background: #ffcc00;
    border: none;
    padding: 6px 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 5px;
}

.action-btn:hover {
    background: #ffdb4d;
    transform: scale(1.05);
     color: white;
}

.remove-btn {
    background: #ff3333;
}

.remove-btn:hover {
    background: #ff4d4d;
}




/* for Favorite text */
.section-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  margin: 0;
  text-transform: uppercase;
  opacity: 0.8;
}

/* Watch Trailer Button */
.trailer-btn {
    background: #ffcc00;
    border: none;
    padding: 6px 8px;
    border-radius: 6px;
    font-size: 0.85rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.trailer-btn:hover {
    background: #ffdb4d;
    transform: scale(1.05);
     color: white;
}


/* TRAILER MODAL */

.trailer-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.trailer-content {
    background: #000;
    padding: 15px;
    width: 90%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
    animation: scaleIn 0.3s ease;
}

.close-btn {
    background: rgb(221, 216, 216);
    color: black;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    float: right;
    margin-bottom: 10px;
    transition: 0.2s;
}

.close-btn:hover {
    background: #d60000;
    color: #fff;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes scaleIn {
    from { transform: scale(0.7); }
    to   { transform: scale(1); }
}













