.details-modal {
  position: fixed;
  top: 0;
  width: 90%;
  height: 90%; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2500;
}

.details-content {
  background: rgba(0, 0, 0, 0.85);
  width: 90%;
  max-width: 900px;
  border-radius: 12px;
  padding: 20px;
  color: white;
  position: relative;
}

.details-close {
  background: white;
  border: none;
  color: black;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}
.details-close:hover{
    background: rgb(244, 20, 20);
    color: white;
}

.details-body {
  display: flex;
  gap: 20px;
}

.details-left img.details-poster {
  width: 250px;
  border-radius: 10px;
}

.details-right {
  flex: 1;
}

.details-right h2 {
  color: #ffcc00;
}

.details-plot {
  margin-top: 10px;
  opacity: 0.9;
}

.details-buttons {
  display: flex;
  gap: 5px;
}

.fav-btn {
  background: #ffcc00;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
